@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

/* rootmargin: 100px */
:root {
    --main-color: #f0d43a;
    --headers-color: #e7e8e8;
    --paragraphs-color: #e8e8e8;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open-sans', sans-serif;
    height: 100vh;
}

/* NAVBAR STYLES AND HERO SECTION*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    /* background-color: #121212; */
}
.active{
    color: var(--main-color);
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu>li {
    list-style-type: none;
}

.menu>li>a {
    margin: 15px;
    text-decoration: none;
    color: var(--headers-color);

}

.logo-text {
    padding: 20px 15px 15px;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Nothing You Could Do', sans-serif;
    color: var(--main-color);
}

.section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.logo-heading {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: var(--headers-color);
}

.see-menu-btn, .main-btn {
    text-transform: uppercase;
    margin: 45px 0 0;
    padding: 15px 50px;
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    border-left: none;
    border-right: none;
    color: var(--paragraphs-color);
    background-color: transparent;
}

.main-btn:hover{
    background-color: var(--main-color);
    color: black;
    transition: all 0.5s;
}

.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* THIS creates the animation! */
    transition: all 1s;
}

.slide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.lines {
    position: absolute;
    bottom: 5%; /*changing*/
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.lines-line {
    border: none;
    background-color: #fff;
    opacity: 0.7;
    height: 1.2rem;
    width: 2px;
    margin-right: 0.9rem;
    cursor: pointer;
    transition: all 0.5s;
}

.lines-line:last-child {
    margin: 0;
}

.lines-line-active {
    background-color: var(--main-color);
    transform: scale(1.4);
}

/* ABOUT SECTION STYLES */
.about-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/imgs/about-background.jpg);
    background-position: center;
    width: 100vw;
    height: 620px;
    /* margin-top: 30px; changing all the time */
}

.about-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.about-heading, .section-headings {
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 80px 0 25px 0;
    color: var(--headers-color);
    font-weight: 400;
    font-size: 3rem;
    font-family: "Nothing You Could Do", sans-serif;
}

.title-separator {
    width: 200px;
    border: 1px solid #6c6c6c;
    opacity: 0.4;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.title-separator:after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #6c6c6c;
    top: -9px;
    left: 45%;
    opacity: 0.4;
    transform: rotate(45deg);
}

.title-separator:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #6c6c6c;
    top: -9px;
    left: 50%;
    opacity: 0.4;
    transform: rotate(45deg);
}

.about-section-text{
    margin: 80px 0 40px 0;
    line-height: 30px;
    text-align: center;
    color: var(--paragraphs-color);
}

/* OUR OFFER SECTION STYLES */
.our-offer-section-container{
    display: flex;
    background-color: #121212;
    width: 100vw;

}

.our-offer-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.offer-tool-grid {
    display: grid;
    grid-template-areas: 
    "offer-1 offer-2 offer-3";
    grid-gap: 20px;
}
#offer-1 {
    grid-area: offer-1;
}
#offer-2 {
    grid-area: offer-2;
}
#offer-3{
    grid-area: offer-3;
}

.offer-tool {
    text-align: center;
    margin: 80px 0;
    color: var(--paragraphs-color);
}

.offer-tool img {
    margin-bottom: 25px;
}

.offer-tool h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-size: 26px;
    position: relative;
}

.offer-tool h3:after {
    background: var(--main-color);
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 50%;
    left: calc(50% - 50px);
}

.offer-tool p {
    line-height: 30px;
}

/* MENU SECTION STYLES */
.menu-section-container {
    display: flex;
    background-image: url(./assets/imgs/menu-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}

.menu-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.menu-grid {
    display: grid;
    grid-template-areas: 
    "card-1 card-2"
    "card-3 card-4"
    "card-5 card-6";
    grid-gap: 20px;
    margin: 80px 0;
}
#card-1 {
    grid-area: card-1;
}
#card-2 {
    grid-area: card-2;
}
#card-3 {
    grid-area: card-3;
}
#card-4 {
    grid-area: card-4;
}
#card-5 {
    grid-area: card-5;
}
#card-6 {
    grid-area: card-6;
}

.item-card{
    background-color: #121212;
    /* margin: 80px 0; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-card img {
    padding-left: 20px;
    width:130px;
    height: 130px;
    object-fit: cover;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
}

.item-heading {
    color: var(--headers-color);
    font-family: "Playfair Display", serif;
    font-size: 25px;
}

.item-price {
    margin: 0 0 10px;
    font-size: 26px;
    color: var(--main-color);
}

.item-description{
    line-height: 30px;
    color: var(--paragraphs-color);
}

/* GALLERY SECTION STYLES */
.gallery-section-container {
    background-color: #121212;
    width: 100vw;
    display: flex;
}

.gallery-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.gallery-grid {
    display: grid;
    grid-template-areas: 
    "gallery-1 gallery-1 gallery-2"
    "gallery-1 gallery-1 gallery-3"
    "gallery-4 gallery-5 gallery-6";
    margin: 80px 0 20px 0; 
    width: 100%;
}
#gallery-1 {
    grid-area: gallery-1;
}
#gallery-2 {
    grid-area: gallery-2;
}
#gallery-3 {
    grid-area: gallery-3;
}
#gallery-4 {
    grid-area: gallery-4;
}
#gallery-5 {
    grid-area: gallery-5;
}
#gallery-6 {
    grid-area: gallery-6;
}

.load-more-btn {
    width: 100%;
    margin-bottom: 80px;
}

.gallery {
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* OVERLAY EFFECT */
/* .overlay:before, .overlay:after {
    background: rgba(0,0,0,0.5);
    content:"";
    position:absolute;
    height:0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.item-icon {
    color: var(--main-color);
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
    font-size: 50px;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
}
.icon-focus:before {
    content: "\e01b";
}
.gallery a {
    display: block;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
} */
/* End of overlay */



/* MEDIA QUERIES */
@media only screen and (max-width: 560px) {
    /* NAVIGATION STYLES */
    .logo-heading {
        text-align: center;
        font-size: 2rem;
    }
    .menu {
        visibility: hidden;
    }
    .see-menu-btn {
        margin: 25px 0;
    }
}
@media only screen and (max-width: 620px) {
    .section-content{
        margin: 55px 0;
    }
}
@media only screen and (max-width: 760px) {
    /* NAVIGATION STYLES */
    .logo-heading {
        text-align: center;
        font-size: 2.5rem;
    }
    .menu {
        visibility: hidden;
    }
    /* OUR OFFER SECTION STYLES */
    .offer-tool-container {
        flex-direction: row;
    }
    .offer-tool-grid {
        grid-template-areas: 
        "offer-1"
        "offer-2"
        "offer-3";
    }
    .offer-tool{
        margin: 30px;
    }
    #offer-1{
        margin-top: 80px;
    }
    /* SPECIAL MENU SECTION STYLES */
    .menu-grid {
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5"
        "card-6";
    }
    /* GALLERY SECTION STYLES */
    .gallery-grid {
        grid-template-areas: 
        "gallery-1"
        "gallery-2"
        "gallery-3"
        "gallery-4"
        "gallery-5"
        "gallery-6";
    }
}
@media only screen and (max-width: 950px) {
    /* ABOUT SECTION STYLES */
    .about-section-content {
        width: 75%;
    }
    /* OUR OFFER STYLES */
    .our-offer-section-content {
        width: 90%;
    }
}